<div class="menu-top-menu-container"><ul id="menu-top-menu" class="nav navbar-nav yamm"><li  class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children dropdown"><a  href="http://irish.network" class="dropdown-toggle" data-hover="dropdown" data-delay="500" data-close-others="false"><span>Home</span></a>
<ul class="dropdown-menu">
	<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://irish.network/about-irish-network/"><span>About Irish Network</span></a></li><li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//irish.network/irishnetworkbrochure" target="blank"><span>Irish Network Brochure</span></a></li><li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//irish.network/wp-content/uploads/2017/09/irishnetworkbrochure.pdf" target="blank"><span>Download Brochure</span></a></li><!--.dropdown-->
</ul>
</li><li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown"><a  href="https://irish.network/members/" class="dropdown-toggle" data-hover="dropdown" data-delay="500" data-close-others="false"><span>Members</span></a>
<ul class="dropdown-menu">
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://irish.network/jobs/" target="blank"><span>Jobs</span></a></li>
<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://irish.network/forums"><span>Forums</span></a></li>
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://irish.network/pricing/" target="blank"><span>Pricing</span></a></li>
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://irish.network/funding/" target="blank"><span>Funding</span></a></li>
<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://irish.network/contact/"><span>Contact</span></a></li>
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://irish.network/cost-savings/"><span>Member Benefits</span></a></li>
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://irish.network/network-meetings/"><span>Network Meetings</span></a></li>
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://irish.network/training-and-education/"><span>Training and Education</span></a></li>
<!--.dropdown-->
</ul>
</li><li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown"><a href="/irish-news/" class="dropdown-toggle" data-hover="dropdown" data-delay="500" data-close-others="false"><span>Irish News</span></a><ul class="dropdown-menu">
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/irish-news/"><span>Irish News</span></a></li>
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://irish.network/blog/"><span>Blog</span></a></li></ul></li><li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown"><a  href="#" class="dropdown-toggle" data-hover="dropdown" data-delay="500" data-close-others="false"><span>Your County</span></a>
<ul class="dropdown-menu">
	<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown dropdown-submenu"><a href="#"><span>Connaught</span></a>
	<ul class="dropdown-menu">
		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/galway"><span>Galway</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/leitrim"><span>Leitrim</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/mayo"><span>Mayo</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/roscommon"><span>Roscommon</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/sligo"><span>Sligo</span></a></li>
	</ul>
</li>	<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown dropdown-submenu"><a href="#"><span>Leinster</span></a>
	<ul class="dropdown-menu">
		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/carlow"><span>Carlow</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/dublin"><span>Dublin</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/kildare"><span>Kildare</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/kilkenny"><span>Kilkenny</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/laois"><span>Laois</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/longford"><span>Longford</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/louth"><span>Louth</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/meath"><span>Meath</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/offaly"><span>Offaly</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/westmeath"><span>Westmeath</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/wicklow"><span>Wicklow</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/wexford"><span>Wexford</span></a></li>
	</ul>
</li>	<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown dropdown-submenu"><a href="#"><span>Munster</span></a>
	<ul class="dropdown-menu">
		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/cork"><span>Cork</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/clare"><span>Clare</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/kerry"><span>Kerry</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/limerick"><span>Limerick</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/tipperary"><span>Tipperary</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/waterford"><span>Waterford</span></a></li>
	</ul>
</li>	<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown dropdown-submenu"><a href="#"><span>Ulster</span></a>
	<ul class="dropdown-menu">
		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/antrim"><span>Antrim</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/armagh"><span>Armagh</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/cavan"><span>Cavan</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/derry"><span>Derry</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/donegal"><span>Donegal</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/down"><span>Down</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/fermanagh"><span>Fermanagh</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/monaghan"><span>Monaghan</span></a></li>		<li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/tyrone"><span>Tyrone</span></a></li>
	</ul>
</li><!--.dropdown-->
</ul>
</li><li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown"><a href="/deals/" class="dropdown-toggle" data-hover="dropdown" data-delay="500" data-close-others="false"><span>Deals</span></a><ul class="dropdown-menu">
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/deals/" target="blank"><span>Deals</span></a></li>
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://www.irishlifetours.com/" target="blank"><span>Irish Tours</span></a></li>
<li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://www.citwebsolutions.com/" target="blank"><span>Irish Network Web</span></a></li></ul></li><li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://irish.network/wp-login.php?action=register"><span>Join</span></a></li></ul></div>
<div class="pull-right" style="margin-top:5px;">

<!-- <a id="search_button" href="#" onclick="jQuery('#searchboxtop').show();"><i class="fa fa-search"></i></a> -->

<a href="http://irish.network/my-account" class="btn btn-lg btn-info topbtn">Member Area</a> 

</div>
 						
</div>